body {
    background-color: var(--white);
}

body.dark {
    background-color: var(--black);
    color: var(--white);
}

header {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.8rem auto;
}

header h1 img {
    max-width: 20rem;
}

header button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.6rem;
    transition: .5s linear;
}

header button img {
    max-width: 4rem;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 2px var(--black));
}

header button:hover {
    scale: 1.15;
}

#queensContainer {
    width: 100%;
    max-width: 90%;
    margin: 8rem auto 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    row-gap: 8rem;
}

.queen {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    border: 1px solid var(--black);
    border-radius: .4rem;
    padding: 2.4rem;
    background: var(--white);
    transition: 1s linear;
}

.queen:hover {
    background: #e2ffdd;
    background: -webkit-linear-gradient(to right, #fad8de, #e2ffdd);
    background: linear-gradient(to right, #fad8de, #e2ffdd);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.queen > img {
    width: 15rem;
    border-radius: 84% 16% 92% 8% / 79% 37% 63% 21%;
    object-fit: cover;
}

.queen > .queen-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.queen > .queen-data > h2 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.queen > .queen-data > .ranks {
    display: flex;
    gap: 1.2rem;
}

.queen > .queen-data > .ranks > .rank {
    font-size: 2.4rem;
}

.queen > .queen-data > .seasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .8rem;
}

.queen > .queen-data > .seasons > .season {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--black);
    border-radius: 3.2rem;
    padding: .4rem 1.6rem;
}

.queen > .queen-data > .description {
    overflow-y: scroll;
    height: 12rem;
}

.queen > .queen-data > .description > p {
    font-size: 2.4rem;
    text-align: justify;
    padding-right: .8rem;
}

footer {
    align-self: flex-end;
    background-color: var(--black);
    border-top: 1px solid var(--white);
    display: flex;
    place-content: center;
    padding: 2.4rem;
}

footer > p, footer > p > a {
    font-size: 2.4rem;
    color: var(--white);
    transition: .5s linear;
}

footer > p > a {
    border-bottom: 1px solid var(--black);
}

footer > p > a:hover {
    border-color: var(--white);
}

/* SCROLL BAR */ 
* {
    scrollbar-width: thin;
    scrollbar-color: transparent var(--red);
}

.queen > .queen-data > .description {
    scrollbar-width: thin;
    scrollbar-color: transparent var(--black);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: 20px;
}

.queen > .queen-data > .description::-webkit-scrollbar-thumb {
    background-color: var(--pink);
}